

.div-tablero {
    
margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5,8rem);
    gap: 1rem;
}

.div-item {
    border: 1px solid black;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.div-item:hover{
    border: 2px solid red;
    background-color:red;
    transition:0.1s;
}
.marcado{
    background-color:red;
}